section.comingsoon {
  overflow: hidden;
  margin-bottom: 250px;
  position: relative;

  img {
    position: relative;
    padding-bottom: 200px;
  }

  .boxingman {
    background: url($image-path + 'image-05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 240px;

    & > h2 {
      // Middle of div - middle of text (height)
      padding-top: calc(776px / 2 - 278px / 2);
    }
  }

  .inputlabel {
    width: 100%;
    color: white;
    text-align: left;
  }

  .inputfield {
    float: right;
    text-align: left;
    // padding-bottom: 0;
    padding-left: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    border-color: $parker-blue;
    color: $white;
    box-sizing: border-box;
    width: 100%;

    &:focus {
      box-shadow: none;
    }
  }

  .inspireme {
    display: block;
    border: 2px solid $parker-blue;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    color: $parker-blue;
    transition: 0.5s;

    &:hover {
      background-color: $parker-blue;
      color: $white;
    }
  }

  .couch {
    position: absolute;
    background: url($svg-path + 'Couch.svg');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    bottom: 20px;
    right: -70px;

    @include breakpoint(medium) {
      width: 150px;
      height: 150px;
      bottom: 60px;
      right: -60px;
    };

    @include breakpoint(small) {
      // Change this, needs to be under Parker
      width: 150px;
      height: 150px;
      bottom: -200px;
      right: -60px;
    };
  }

  .rotate-bars {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .bars {
    background: url($svg-path + 'Tab.svg');
    background-repeat: no-repeat;
    height: 100px;

    @include breakpoint(small) {
      height: 150px;
      position: absolute;
      width: 150px;
      bottom: 360px;
      left: calc(50% - 75px);
    };
  }
}
