section.comingsoon {
  overflow: hidden;
  margin-bottom: 250px;

  img {
    position: relative;
    padding-bottom: 200px;
  }

  .inputlabel {
    width: 100%;
    color: white;
    text-align: left;
  }

  .inputfield {
    float: right;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    border-color: $parker-blue;
    color: $white;
    box-sizing: border-box;
    width: 100%;
  }

  .inputfield:focus {
    outline-width: 0;
  }

  .inspireme {
    display: block;
    border: 2px solid $parker-blue;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    color: $parker-blue;
    transition: 0.5s;

    &:hover {
      background-color: $parker-blue;
      color: $white;
    }
  }

  .couch {
    display: inline;
    background: url($image-path + 'Couch.svg');
    background-repeat: no-repeat;
    height: 250px;
    padding-left: 350px;
    @include breakpoint(small) {
      // margin-top: 400px;
    };
  }

  .rotate-bars {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .bars {
    background: url($image-path + 'Tab.svg');
    background-repeat: no-repeat;
    height: 100px;
  }
}
