section.description {
  margin-bottom: 150px;

  .column {
    padding: 0px;
  }

  .hanger {
    position: absolute;
    background: url($svg-path + 'Hanger.svg');
    background-repeat: no-repeat;
    height: 275px;
    width: 275px;
    margin-top: -225px;
    margin-left: -25px;
  }

  .closet {
    position: absolute;
    background: url($svg-path + 'Closet.svg');
    background-repeat: no-repeat;
    height: 225px;
    width: 275px;
    margin-top: -200px;
    margin-left: 375px;
  }

  .slash {
    position: absolute;
    background: url($svg-path + 'Slash.svg');
    background-repeat: no-repeat;
    height: 225px;
    width: 225px;
    margin-top: -600px;
    margin-left: 0px;
    // Flip horizontally
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .bars {
    position: absolute;
    background: url($svg-path + 'Tab.svg');
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    height: 250px;
    width: 250px;
    margin-top: -900px;
    margin-left: 275px;
  }

  .desktop-container {
    position: relative;

    @include breakpoint(small) {
      display: none;
    };
  }

  .mobile-container {
    display: none;
    margin-top: 200px;
    @include breakpoint(small) {
      display: block;
    };
  }

  .bench {
    background: url($svg-path + 'Bench.svg');
    background-repeat: no-repeat;
    height: 350px;
  }

  .bench-mobile {
    position: absolute;
    background: url($svg-path + 'Bench.svg');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-left: 190px;
  }

  .circle {
    position: absolute;
    background: url($svg-path + 'Circle.svg');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: -200px;
  }

  .inspiration {
    margin-top: 100px;
    margin-right: 100px;
  }

  .amenities {
    margin-top: 50px;
    margin-left: 100px;
  }

  .images {
    display: inline-block;
  }

  .right-pictures {
    margin-right: 50px;
  }

  .shattuck {
    font-size: 124px;
    display: inline-block;
    transform: rotate(-90deg);
    bottom: 160px;
    right: -192px;
    position: absolute;

    // Coloring for the t's in Shattuck
    & > span {
      color: $parker-blue;
    }
  }

  .left-images {
    width: 450px;
    float: left;
  }

  .cooking-lady {
    width: 450px;
    float: right;
  }

  .amenities-mobile {
    display: block;
    width: 250px;
    margin-left: 50px;
    margin-top: 150px;
  }

  .park {
    height: 400px;
  }
}
