section.top {
  .parker {
    position: absolute;
    background: url($svg-path + 'Logo.svg');
    background-repeat: no-repeat;
    height: 25px;
    width: 200px;
    margin-top: -150px;
    margin-left: 50px;
    transition: transform 0.2s;

    &:hover {
      transition-timing-function: ease-in;
      transform: rotate(5deg);
    }
  }

  .bars {
    @include breakpoint(small) {
      position: absolute;
      background: url($svg-path + 'Tab.svg');
      background-repeat: no-repeat;
      height: 150px;
      width: 150px;
      margin-top: 0px;
      margin-left: 65%;
    }
  }

  .circle {
    position: absolute;
    background: url($svg-path + 'Circle.svg');
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: -350px;
    margin-left: 350px;
    animation: circleburglar 5s infinite linear;


    @include breakpoint(small) {
      width: 400px;
      height: 400px;
      margin-top: -100px;
      margin-left: -75px;
    }

    &:after {
      content: "";
      display: block;
      background-image: url($svg-path + 'Dot.svg');
      height: 25px;
      width: 25px;
      bottom: -7px;
      right: calc(50% - 12.5px);
      position: absolute;
    }
  }

  .bed {
    position: absolute;
    background: url($svg-path + 'Bed.svg');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin-top: -275px;
    margin-left: 78%;

    @include breakpoint(small) {
      margin-top: -900px;
      height: 275px;
      width: 275px;
      margin-left: -20%;
    };
  }

  .arrow {
    position: absolute;
    background: url($svg-path + 'Arrow.svg');
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-top: -100px;
    margin-left: 53%;

    @include breakpoint(small) {
      margin-top: -650px;
      margin-left: 50%;
      height: 40px;
      width: 40px;
      transform:rotate(180deg);
    };
  }

  .slash {
    position: absolute;
    background: url($svg-path + 'Slash.svg');
    background-repeat: no-repeat;
    // Flip horizontally
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    height: 100px;
    width: 100px;
    margin-top: -100px;
    margin-left: 65%;

    @include breakpoint(small) {
      height: 200px;
      width: 200px;
      margin-top: -330px;
      margin-left: 75%;
    };
  }

  .mobile-icons {
    position: relative;
  }

  .numbers {
    display: none;
    @include breakpoint(small) {
      transform: rotate(-90deg);
      position: absolute;
      display: inline-block;
      font-size: 150px;
      right: -135px;
      top: -400px;
      & > span {
        color: $parker-blue
      }
    }
  }

  .push-left {
    padding-left: 0px;
  }

  .vertical-image {
    height: 400px;
    @include breakpoint(small) {
      width: 80%;
    };
  }

  .intro-content {
    margin-top: 50px;
  }

  .header {
    margin-bottom: 200px;
    @include breakpoint(small) {
      // display: none;
      height: 450px;
    };

  }

  .mobile-header {
    display: none;
    @include breakpoint(small) {
      display: inline-block;
      height: 500px;
    };
  }
}
