<section class="comingsoon">
  <div class="row">
     <!-- Picture -->
     <div class="column small-12 large-12">
       <img src="/src/img/image-05.jpg" alt="">
     </div>

    <!-- Bars  -->
    <div class="column rotate-bars small-12 medium-4">
      <div class="bars"></div>
    </div>

     <!-- Offset form and couch to the right -->

    <!-- Form -->
     <div class="column small-12 medium-4">
      Blah Blah Blah
     </div>

    <!-- Couch -->
    <div class="column small-12 medium-4">
      <div class="couch"></div>
    </div>

  </div>

</section>
