<section class="comingsoon">
  <div class="row">
     <!-- Picture -->
     <div class="coming column small-12 large-12">
       <img src="/src/img/image-05.jpg" alt="">
       <h2>COMING 2016</h2>
     </div>

    <!-- Bars  -->
    <div class="column small-12 medium-4">
      <div class="rotate-bars bars"></div>
    </div>

    <!-- <div class="column small-0 medium-2"></div> -->
     <!-- Offset form and couch to the right -->
    <div class="column small-8 small-offset-0 medium-4 medium-offset-2">
      <!-- Form -->
      <form id="myform">
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle white">FIRST</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Right- and middle-aligned text input">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle white">LAST</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Right- and middle-aligned text input">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle white">EMAIL</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Right- and middle-aligned text input">
          </div>
        </div>
        <hr>
        <button class="mybutton" type="submit" form="myform" value="Submit">Inspire Me</button>
      </form>
    </div>

  </div>
</section>
