<section class="comingsoon">
  <!-- Picture -->
  <div class="boxingman">
    <!--  div w/ background image, h2 inside-->
    <!-- <img src="/src/img/image-05.jpg" alt=""> -->
    <h2>COMING <span>2016</span></h2>
  </div>

  <div class="row">
    <!-- Bars  -->
    <div class="column small-12 medium-4">
      <div class="rotate-bars bars"></div>
    </div>

     <!-- Offset form and couch to the right -->
    <div class="column small-10 small-offset-1 medium-10 medium-offset-1 large-4 large-offset-2">
      <!-- Form -->
      <form id="myform">
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle inputlabel">FIRST NAME</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Text">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle inputlabel">LAST NAME</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Text">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-4 columns">
            <label for="middle-label" class="text-right middle inputlabel">E-MAIL</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="middle-label" class="inputfield" placeholder="Text">
          </div>
        </div>
        <hr>
        <button class="inspireme" type="submit" form="myform" value="Submit">Inspire Me</button>
      </form>
    </div>
  </div>

  <div class="couch"></div>
</section>
