<section class="description">
  <div class="desktop-container">
    <div class="row">
      <div class="column small-6 large-6">
        <div class="bench appear fly-right">
        </div>
      </div>
      <div class="column small-6 large-6">
        <div class="inspiration">
          <h5>APARTMENTS TO INSPIRE YOU</h5>
          <p>
            With plenty of space to stretch out, bustling local art and food scenes, and easy commuter access to SF, you can fully immerse yourself in Berkeley's one-of-a-kind community - and still speed into the City.
          </p>
        </div>
      </div>

      <div class="column small-6 large-6">
        <div class="amenities">
          <h5>AMENITIES</h5>
          <ul>
            <li>
              <span>Equinox Fitness Club</span>
            </li>
            <li>
              <span>Gathering Spaces</span>
            </li>
            <li>
              <span>Pet Spa &amp; Grooming</span>
            </li>
            <li>
              <span>Co-Working WiFi Lounge</span>
            </li>
            <li>
              <span>Bike Lounge</span>
            </li>
            <li>
              <span>Package Concierge</span>
            </li>
            <li>
              <span>Secured Parking</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="column small-6 large-6">
        <div class="right-pictures">
          <img data-original="/dist/img/image-03.jpg" class="lazy appear fly-left" alt="">
          <img data-original="/dist/img/image-02.jpg" class="lazy appear fly-left" alt="">
        </div>
      </div>

      <div class="column small-6 large-6">
          <img data-original="/dist/img/image-04.jpg" class="lazy appear fly-right" alt="">
      </div>
      <div class="column small-6 large-6">
        <div class="shattuck appear">
            sha<span>tt</span>uck
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-container">
    <div class="closet"></div>
    <div class="images">
      <img class="lazy left-images" data-original="/dist/img/image-03.jpg" alt="">
      <img class="lazy left-images" data-original="/dist/img/image-02.jpg" alt="">
      <img class="lazy cooking-lady" data-original="/dist/img/image-04.jpg" alt="">
    </div>
    <div class="bars"></div>
    <div class="slash"></div>
    <div class="hanger"></div>

    <div class="amenities-mobile">
      <h5>AMENITIES</h5><br>
      <ul>
        <li>Courtyard areas with BBQs, community tables and fire pits</li>
        <li>Co-working lounge</li>
        <li>Package and laundry lockers</li>
        <li>Pet wash</li>
        <li>Bike lounge / storage</li>
        <li>Equinox retail tenant</li>
        <li>Secured parking</li>
      </ul>
    </div>

    <div class="park">
      <div class="circle"></div>
      <div class="bench-mobile"></div>
    </div>
  </div>
</section>
