<section class="footer">
  <div class="couch appear"></div>
  <div class="parkercss appear"></div>

  <div class="contact-container">
    <p>2600 Shattuck Ave, Berkeley, CA 94704</p>
    <p class="phone">(844) 727-0715</p>
    <div class="legal">
      <p>Privacy Policy</p>
      <hr>
      <p>Term and Conditions</p>
      <hr>
    </div>
  </div>

  <!--
    Turn these on and off based on media queries
    See invo project _locations.scss breakpoint()
  -->
  <div class="social-desktop">
    <div class="facebook"></div>
    <div class="twitter"></div>
    <div class="housing"></div>
    <div class="disability"></div>
    <div class="paws"></div>
  </div>

  <div class="social-mobile">
    <div class="facebook-hover"></div>
    <div class="twitter-hover"></div>
  </div>

  <div class="funky-icons appear">
    <div class="tab"></div>
    <div class="triangles"></div>
  </div>
</section>
