<section class="top">
  <div class="header">
    <div class="parker"></div>
    <div class="circle"></div>
  </div>
  <div class="mobile-iconns">
    <div class="bars"></div>
    <div class="numbers">2<span>6</span>00</div>
  </div>
  <div class="row">
     <div class="column push-left small-12 medium-6">
         <img class="vertical-image" src="/src/img/image-01.jpg" alt="">
     </div>

     <div class="column small-12 medium-6">
      <div class="intro-content">
        <h5>THE CREATIVE INTIMACY OF BERKELEY</h5>
        <p>Captured in a roomy, impeccably crafted space that's designed to inspire and invigorate.</p>
      </div>
     </div>
  </div>
  <div class="arrow"></div>
  <div class="slash"></div>
  <div class="bed"></div>
</section>
