// https://sass-guidelin.es/#the-7-1-pattern

// Themes

// Vendors
@import 'vendors/_normalize';
@import 'vendors/_foundation';

// Abstracts
@import 'abstracts/_vars';
@import 'abstracts/_mixins';

// Base
@import 'base/_fonts';
@import 'base/_typography';
@import 'base/_elements';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Components

// Pages

body {
  position: relative;
  overflow-x: hidden;
  background-color: $white;
}
