@import './base/foundation.scss';
@import './base/normalize';
@import "./abstracts/animations";
@import './abstracts/vars';
@import './abstracts/mixins';
@import './base/fonts';
@import './abstracts/typography';
@import './layout/_top.scss';
@import './layout/_description.scss';
@import './layout/_comingsoon.scss';
@import './layout/_footer.scss';


body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}
