//All Type goes here. IE H1-H6 . P
body {
  color: $white;
}

h2 {
  font-size: 120px;

  span {
    color: $parker-blue;
    font-size: 75px;
  }

  @include breakpoint(small) {
    font-size: 70px;
    span {
      font-size: 45px;
    }
  };

  @include breakpoint(medium) {
    font-size: 90px;
    span {
      font-size: 65px;
    }
  };
}

h5 {
 font-family: “adobe-text-pro”;
}

hr {
  color: $white;
  margin: 0;
}

ul {
  li {
    color: $parker-blue;
    margin-bottom: 15px;

    span {
      color: $white;
    }
  }

  @include breakpoint(small) {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      color: $white;
    }
  };
}
